
<div class="jumbotron">
	<h1>Welcome to the Voots API.</h1>
	<h3>Here you can find out what everybody is <b><i>thinking</i></b>.</h3>
	<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">Routes?</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Routes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
        	<li><a data-toggle="collapse" href="#usersCollapse" aria-expanded="false" aria-controls="usersCollapse">/users</a></li>
        	<div class="collapse" id="usersCollapse">
  				<div class="card card-body">
    				<ul>
    					<li><p>/register</p></li>
    					<li><p>/login</p></li>
    					<li><p>/get</p></li>
    					<li><p>/delete</p></li>
    				</ul>
  				</div>
			</div>
        	<li><a data-toggle="collapse" href="#vootsCollapse" aria-expanded="false" aria-controls="vootsCollapse">/voots</a></li>
        	<div class="collapse" id="vootsCollapse">
  				<div class="card card-body">
    				<ul>
    					<li><p>/post</p></li>
    					<li><p>/vote</p></li>
    					<li><p>/get</p></li>
    					<li><p>/all</p></li>
    					<li><p>/update</p></li>
    					<li><p>/delete</p></li>
    					<li><p>/group</p></li>
    				</ul>
  				</div>
			</div>
        	<li><a data-toggle="collapse" href="#groupsCollapse" aria-expanded="false" aria-controls="groupsCollapse">/groups</a></li>
        	<div class="collapse" id="groupsCollapse">
  				<div class="card card-body">
    				<ul>
    					<li><p>/create</p></li>
    				</ul>
  				</div>
			</div>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
	body {
		background-color: #FEFFFE;
		font-family: 'Ubuntu', sans-serif;
	}
</style>